@model IEnumerable<GraphicsModel>

<div class="container">
    <div class="content-container">
        <h2 class="title">3D Projects</h2>
        @foreach(var img in Model.ToList().Where(img => img.GraphicType == "3D"))
        {
            <div class="image-container">
                <img src="@img.ImageURL" alt="3D"/>
            </div>
        }
    </div>

    <div class="content-container">
        <h2 class="title">Pixel Art Projects</h2>
        @foreach (var img in Model.ToList().Where(img => img.GraphicType == "Pixel Art"))
        {
            <div class="image-container">
                <img src="@img.ImageURL" alt="Pixel art"/>
            </div>
        }
    </div>

</div>

<style>
    .container {
        margin: 0 auto;
        flex-direction: column;
        color: white;
    }

    .content-container {
        align-items: flex-start;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 8px;
        margin-bottom: 50px;
        align-content:center;
    }

    .title {
        font-size: 45px;
        font-weight: bold;
        margin: 0 auto;
        text-align: center;
        text-shadow: 2px 3px black;
        -webkit-text-stroke: 4px thin black;

    }

    img {
        max-height: 40%;
        max-width: 100%;
        object-fit:scale-down;
    }

    .image-container {
        flex: 1;
        align-content: center;
        margin: 10px;
    }
</style>