@using System.Web;
@model IEnumerable<NetProjectsModel>
@using Portfolio.Controllers;

@{

    <div class="row-container">
        @foreach (var project in Model.ToList())
        {
            <div>
                <div class="row">
                    <div class="title">@project.ProjectName</div>
                    <div class="image-container" style="float: left;">
                        <img src="@project.ImageURL" style="width: 480px;" alt="ProjectImage"/>
                    </div>
                    <div class="text-container" style="float: right;">
                        <p>@project.ProjectDescription</p>
                    </div>
                </div>
            </div>
        }
    </div>

    <style>
        .row-container {
            display: flex;
            flex-direction: column;
            gap: 30px; 
            margin: 20px;
            color: white;
        }

        .row {
            display: flex;
            align-items: flex-start;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 8px;
        }

        .title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .image-container {
            flex: 1;
            padding-right: 10px;
        }

        .text-container {
            flex: 1;
        }
    </style>
}
