@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="Skillscontainer" style="display: flex;">
    <div style="float: left;">
        <img style="width: 90px; float: left; align-content: flex-start;" src="https://www.cdnlogo.com/logos/c/27/c.svg" alt="logo" /> 
        <br>
        <div style="float: left; width: 100px;">
            <div class="level" >
                <b>
                    <span class="text-white">C#</span>
                </b>
            </div>
        </div>
    </div>
    <div>
        <div class="meter purple" >
            <span style="width: 50%"></span>
        </div>
        <div class="level">
            <b><span class="text-white">intermediate</span></b>
        </div>
    </div>

    <div style="float: left;">
        <img style="width: 90px; float: left; align-content: flex-start;" src="https://i.redd.it/tu3gt6ysfxq71.png" alt="logo" />
        <br>
        <div style="float: left; width: 100px;">
            <div class="level">
                <b>
                    <span class="text-white">Unity</span>
                </b>
            </div>
        </div>
    </div>
    <div>
        <div class="meter blue">
            <span style="width: 50%"></span>
        </div>
        <div class="level">
            <b><span class="text-white">intermediate</span></b>
        </div>
    </div>
</div>

<div class="Skillscontainer" style="display: flex;">
    <div style="float: left;">
        <img style="width: 90px; float: left; align-content: flex-start;" src="https://media.canva.com/1/image-resize/1/96_96_100_PNG_F/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS84WHZjZy9NQUZ5VTg4WHZjZy8xL3AucG5n?osig=AAAAAAAAAAAAAAAAAAAAAGXOsdy9wlffcE13OS1h5SIBupxosO6R1UehJEeu6kIb&exp=1702696696&x-canva-quality=thumbnail_large&csig=AAAAAAAAAAAAAAAAAAAAALcfhzJfn2Ca5KP6W7lHlLHVrY0_1yWC_u6XAsmz5ygH" alt="logo" />
        <br>
        <div style="float: left; width: 100px;">
            <div class="level">
                <b>
                    <span class="text-white">HTML5</span>
                </b>
            </div>
        </div>
    </div>
    <div>
        <div class="meter purple">
            <span style="width: 50%"></span>
        </div>
        <div class="level">
            <b><span class="text-white">intermediate</span></b>
        </div>
    </div>

    <div style="float: left;">
        <img style="width: 90px; float: left; align-content: flex-start;" src="https://media.canva.com/1/image-resize/1/423_550_100_PNG_F/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS83N1doby9NQUZ5VmE3N1doby8xL3AucG5n?osig=AAAAAAAAAAAAAAAAAAAAAPLiZGDJ6vHu08KH7X2ZmX-NAFLVWqwhGhr99562En0p&exp=1702696746&x-canva-quality=thumbnail_large&csig=AAAAAAAAAAAAAAAAAAAAAIULqwstpXyAsUebK-_k4KU70vpn2abrPXbWmfmVAU-k" alt="logo" />
        <br>
        <div style="float: left; width: 100px;">
            <div class="level">
                <b>
                    <span class="text-white">Blender</span>
                </b>
            </div>
        </div>
    </div>
    <div>
        <div class="meter blue">
            <span style="width: 50%"></span>
        </div>
        <div class="level">
            <b><span class="text-white">intermediate</span></b>
        </div>
    </div>
</div>


<div class="Skillscontainer" style="display: flex;">
    <div style="float: left;">
        <img style="width: 90px; float: left; align-content: flex-start;" src="https://media.canva.com/1/image-resize/1/96_96_100_PNG_F/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS9NVnJWWS9NQUZ5VTNNVnJWWS8xL3AucG5n?osig=AAAAAAAAAAAAAAAAAAAAAMjwVvKUN9S9PnGW2znQd0g8Jrdear1vGN7mMsZi8bqq&exp=1702697265&x-canva-quality=thumbnail_large&csig=AAAAAAAAAAAAAAAAAAAAAHQ72ddfZaXkdEKFMN4vkQlBrHhG5sLhKy76u01J_m1D" alt="logo" />
        <br>
        <div style="float: left; width: 100px;">
            <div class="level">
                <b>
                    <span class="text-white">JavaScript</span>
                </b>
            </div>
        </div>
    </div>
    <div>
        <div class="meter purple">
            <span style="width: 50%"></span>
        </div>
        <div class="level">
            <b><span class="text-white">intermediate</span></b>
        </div>
    </div>

    <div style="float: left;">
        <img style="width: 90px; float: left; align-content: flex-start;" src="https://media.canva.com/1/image-resize/1/96_96_100_PNG_F/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS84TGZWdy9NQUZ5VS04TGZWdy8xL3AucG5n?osig=AAAAAAAAAAAAAAAAAAAAABmMLZ_b4Cl0LbD6EDmGcdg9WIvPtLaYjMw_J5PEXK2B&exp=1702697333&x-canva-quality=thumbnail_large&csig=AAAAAAAAAAAAAAAAAAAAAKU7oMPC7b7QipSGqOI52_9kcrWPjPKpagwgEJSGVHzA" alt="logo" />
        <br>
        <div style="float: left; width: 100px;">
            <div class="level">
                <b>
                    <span class="text-white">.NET</span>
                </b>
            </div>
        </div>
    </div>
    <div>
        <div class="meter blue">
            <span style="width: 50%"></span>
        </div>
        <div class="level">
            <b><span class="text-white">intermediate</span></b>
        </div>
    </div>
</div>


<div class="Skillscontainer" style="display: flex;">
    <div style="float: left;">
        <img style="width: 90px; float: left; align-content: flex-start;" src="https://media.canva.com/1/image-resize/1/96_96_100_PNG_F/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS9VSWlmWS9NQUZ5VXdVSWlmWS8xL3AucG5n?osig=AAAAAAAAAAAAAAAAAAAAALo4BYstSBNjywm8WKG5oWoQFBYiirgBjBjNghUaTa59&exp=1702697596&x-canva-quality=thumbnail_large&csig=AAAAAAAAAAAAAAAAAAAAALe9JhRk8-3ksNNf9I-v28UWphrr7GLjU-liyhOurww7" alt="logo" />
        <br>
        <div style="float: left; width: 100px;">
            <div class="level">
                <b>
                    <span class="text-white">ASP.NET</span>
                </b>
            </div>
        </div>
    </div>
    <div>
        <div class="meter purple">
            <span style="width: 50%"></span>
        </div>
        <div class="level">
            <b><span class="text-white">intermediate</span></b>
        </div>
    </div>

    <div style="float: left;">
        <img style="width: 90px; float: left; align-content: flex-start;" src="https://media.canva.com/1/image-resize/1/100_100_100_PNG_F/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS9fQlc3by9NQUZ5VV9fQlc3by8xL3AucG5n?osig=AAAAAAAAAAAAAAAAAAAAAJeZb8F0z0L_J3J4DzU8rF4BXDqEn6n1U0ai4LE8Yqbb&exp=1702694985&x-canva-quality=thumbnail_large&csig=AAAAAAAAAAAAAAAAAAAAAAZABvNYF35jwfmdzOSdWmmJTYRXGFS08ZXW_l8Pv8xw" alt="logo" />
        <br>
        <div style="float: left; width: 100px;">
            <div class="level">
                <b>
                    <span class="text-white">Java</span>
                </b>
            </div>
        </div>
    </div>
    <div>
        <div class="meter blue">
            <span style="width: 50%"></span>
        </div>
        <div class="level">
            <b><span class="text-white">intermediate</span></b>
        </div>
    </div>
</div>

<div class="Skillscontainer" style="display: flex;">
    <div style="float: left;">
        <img style="width: 90px; float: left; align-content: flex-start;" src="https://media.canva.com/1/image-resize/1/550_408_100_PNG_F/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS8yemg0Yy9NQUZ5VTYyemg0Yy8xL3AucG5n?osig=AAAAAAAAAAAAAAAAAAAAAKHe2CsLMeL19M9OtYGtIiGGuLGfB7SzP0Q4G0r4_mry&exp=1702694388&x-canva-quality=thumbnail_large&csig=AAAAAAAAAAAAAAAAAAAAAOxM9odAOOZsw5JFIAQGubjnOPgdxx8sme6QEqJjmxuG" alt="logo" />
        <br>
        <div style="float: left; width: 100px;">
            <div class="level">
                <b>
                    <span class="text-white">MsSQL</span>
                </b>
            </div>
        </div>
    </div>
    <div>
        <div class="meter purple">
            <span style="width: 50%"></span>
        </div>
        <div class="level">
            <b><span class="text-white">intermediate</span></b>
        </div>
    </div>

    <div style="float: left;">
        <img style="width: 90px; float: left; align-content: flex-start;" src="https://media.canva.com/1/image-resize/1/96_96_100_PNG_F/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS9mT0NTMC9NQUZ5VTdmT0NTMC8xL3AucG5n?osig=AAAAAAAAAAAAAAAAAAAAAKWVH7Mcb0WDg4enZqU6aYI-tH5AHkBbTKrQLZ_1xVn-&exp=1702697286&x-canva-quality=thumbnail_large&csig=AAAAAAAAAAAAAAAAAAAAAMtZjiw8IIw23JRshnuUZo0yR7g7fuf9EUtUXnO6u_Ia" alt="logo" />
        <br>
        <div style="float: left; width: 100px;">
            <div class="level">
                <b>
                    <span class="text-white">MySQL</span>
                </b>
            </div>
        </div>
    </div>
    <div>
        <div class="meter blue">
            <span style="width: 50%"></span>
        </div>
        <div class="level">
            <b><span class="text-white">intermediate</span></b>
        </div>
    </div>
</div>
@* <script>
    const progressBar = document.getElementById('myProgressBar');

    function updateProgress() {
        const progressValue = Math.floor(Math.random() * 101);

        progressBar.style.width = `${progressValue}%`;
    }

    updateProgress();
    setInterval(updateProgress, 3000);
</script> *@
