@{
    ViewData["Title"] = "Home Page";
}
<head>
</head>

<div class="d-flex flex-column justify-content-center w-100 h-100">
	<div class="d-flex flex-column justify-content-right align-items-center mt-5">
		<h1 id="bloom-text" class="fw-light text-white m-0">APLIKACJE, STRONY INTERNETOWE, GRY I FILMY</h1>
	</div>
</div>

<div class="d-flex flex-column justify-content-center align-items-center" style="margin-top: 40px;">
    <h2 id="stroked-text" class="mt-2 text-white">Gry</h2>
</div>

<div class="logo-container">
    <div class="logo">
        <h4 class="mt-2 text-white">Hungry idle</h4>
            <a asp-controller = "Unity" asp-action="UnityView" asp-route-projectID = "Hungry Idle">
                <img class="Project-Img" src="Images/Unity/UnityLogo.png" alt="hungry idle" />
           </a>
    </div>

    <div class="logo">
        <h4 class="mt-2 text-white">Rubber Pipe Noir</h4>
        <a asp-controller = "Unity" asp-action="UnityView" asp-route-projectID = "Rubber Pipe Noir">
            <img class="Project-Img" src="Images/Unity/UnityLogo.png" alt="Rubber Pipe" />
        </a>
    </div>

    <div class="logo">
        <h4 class="mt-2 text-white">Devil's Heaven</h4>
        <a asp-controller = "Unity" asp-action="UnityView" asp-route-projectID = "Devil's Heaven">
            <img class="Project-Img" src="Images/Unity/UnityLogo.png" alt="Devils Heaven" />
        </a>
    </div>

    <div class="logo">
        <h4 class="mt-2 text-white">Pixel Basket</h4>
        <img class="Project-Img" src="Images/Unity/UnityLogo.png" alt="Pixel basket" />
    </div>

    <div class="logo">
        <h4 class="mt-2 text-white">CALL OF KRAKEN</h4>
        <a asp-controller = "Unity" asp-action="UnityView" asp-route-projectID = "Call Of Kraken">
            <img class="Project-Img" src="Images/Unity/UnityLogo.png" alt="Call of Kraken" />
        </a>
    </div>
</div>

<div class="d-flex flex-column justify-content-center align-items-center" style="margin-top: 40px;">
    <h2 id="stroked-text" class="mt-2 text-white">Aplikacje</h2>
</div>

<div class="logo-container">
    <div class="logo">
        <h4 class="mt-2 text-white">Movie Library</h4>
        <a asp-controller = "Net" asp-action="NetProjectsView" asp-route-projectID = "Movie picker">
            <img class="Project-Img" src="Images/Logos/DotNetLogo.png" alt="Movies" />
        </a>
    </div>

    <div class="logo">
        <h4 class="mt-2 text-white">Expense Tracker</h4>
        <a asp-controller="Net" asp-action="NetProjectsView" asp-route-projectID="EXPENSE TRACKER">
            <img class="Project-Img" src="Images/Logos/DotNetLogo.png" alt="Tracker" />
        </a>
    </div>

    <div class="logo">
        <h4 class="mt-2 text-white">Youtube Info</h4>
        <a asp-controller="Net" asp-action="NetProjectsView" asp-route-projectID="Youtube channel info">
        <img class="Project-Img" src="Images/Logos/DotNetLogo.png" alt="youtubeinfo" />
        </a>
    </div>

    <div class="logo">
        <h4 class="mt-2 text-white">Budzik</h4>
        <a asp-controller="Net" asp-action="NetProjectsView" asp-route-projectID="Budzik w .Net maui">
        <img class="Project-Img" src="Images/Logos/DotNetLogo.png" alt="budzik" />
        </a>
    </div>

    <div class="logo">
        <h4 class="mt-2 text-white">Generator Hasła</h4>
        <img class="Project-Img" src="Images/Logos/DotNetLogo.png" alt="generator" />
    </div>
</div>


<div class="d-flex flex-column justify-content-center align-items-center" style="margin-top: 40px;">
    <h2 id="stroked-text" class="mt-2 text-white">Programy których używam</h2>
</div>

<div class="logo-container">
    <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Visual_Studio_Code_1.35_icon.svg" alt="Visual Studio Code">
    </div>
    <div class="logo">
        <img src="Images/Logos/VisualStudioLogo.png" alt="Visual Studio 2022">
    </div>
    <div class="logo">
        <img src="Images/Unity/UnityLogo.png" alt="Unity">
    </div>
    <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Adobe_Premiere_Pro_CC_icon.svg/2101px-Adobe_Premiere_Pro_CC_icon.svg.png" alt="Premiere Pro">
    </div>
    <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/af/Adobe_Photoshop_CC_icon.svg" alt="Photoshop">
    </div>
    <div class="logo">
        <img src="https://seeklogo.com/images/T/trello-logo-CE7B690E34-seeklogo.com.png" alt="Trello">
    </div>
    <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Slack_icon_2019.svg/2048px-Slack_icon_2019.svg.png" alt="Slack">
    </div>
</div>
